<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>potyk-self-2</title>
    <style>
        body {
            max-width: 700px;
            margin: auto;
            font-family: "Rubik", system-ui;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block style %}
    {% endblock %}
</head>
<body style="display: flex; flex-direction: column; height: 100vh;">
<main style="margin-top: {{ margin_top or '5px' }}; flex-grow: 1">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% block main %}
    {% endblock %}
</main>
<footer style="text-align: center; margin-bottom: 10px">
    <hr style="border: 1px solid whitesmoke">
    <small>
        <a href="https://github.com/potykion/potyk-self-2">GitHub</a>
    </small>
</footer>

</body>
</html>