{% macro new_entry_form(form) %}
    <form method="POST" id="new-entry-form">
        {{ form.csrf_token }}

        {{ form.title }}
        {{ form.text }}
        {{ form.tags }}

        <div style="display: flex; flex-direction: row-reverse; gap: 8px">
            <button type="submit">💾 Сэйв</button>
            <button type="button" class="copy-text-btn" title="Копировать текст">📋</button>
            <button type="button" id="new-entry-clear">⏹️</button>
        </div>
    </form>
{% endmacro %}

{% macro entry_form(entry_form, pin_title=None) %}
    <form method="POST" action="/edit-entry/{{ entry_form.id.data }}">
        {{ entry_form.csrf_token }}

        {{ entry_form.title }}
        {{ entry_form.text }}
        {{ entry_form.tags }}

        <small style="display: flex; justify-content: space-between; align-items: center">
            <div class="text-muted time">{{ entry_form.datetime_msk.data.replace(microsecond=0) if entry_form.datetime_msk.data }}</div>
            <div>
                <button type="submit" name="action" value="toggle-pin"
                        title="{{ pin_title if pin_title is not none else ('Открепить' if entry_form.pinned.data else 'Закрепить') }}">
                    📌
                </button>
                <button type="submit" name="action" value="delete">🗑️</button>
                <button type="button" class="copy-text-btn" title="Копировать текст">📋</button>
                <button type="submit">💾 Сэйв</button>
            </div>
        </small>
    </form>
{% endmacro %}
