{% extends '_base.html' %}
{% from '_macros.html' import new_entry_form, entry_form %}

{% block style %}
    <style>
        .entries {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
        form {
            margin-top: 5px;
        }

        details {
            margin-top: 20px;

        }
    </style>
{% endblock %}

{% block main %}
    <h1>Хэллоу, потик</h1>

    <details open>
        <summary>
            <div style="display: inline-block; width: calc(100% - 20px)">
                <div style="display: flex;justify-content: space-between; align-items: center;">
                    <h2>Рандом запись</h2>
                    <button onclick="window.location.reload()">🔄️</button>
                </div>
            </div>
        </summary>

        {% if random_entry_form %}
            {{ entry_form(random_entry_form) }}
        {% endif %}
    </details>


    <details open class="new-entry-form">
        <summary>
            <h2 style="display: inline-block">Добавить новую запись</h2>
        </summary>
        {{ new_entry_form(form) }}
    </details>

    <details open>
        <summary>
            <h2 style="display: inline-block">Закрепленные записи</h2>
        </summary>
        <div class="entries">
            {% if pinned_entry_forms %}
                {% for item in pinned_entry_forms %}
                    {{ entry_form(item, 'Открепить') }}
                {% endfor %}
            {% else %}
                <small class="text-muted">Нет закрепленных записей</small>
            {% endif %}
        </div>
    </details>

    <details open>
        <summary>

            <h2 style="display: inline-block">Все записи</h2>
        </summary>
        <div class="entries">
            {% for item in regular_entry_forms %}
                {{ entry_form(item, 'Закрепить') }}
            {% endfor %}
        </div>
    </details>

    <script src="{{ url_for('static', filename='js/auto-resize-textarea.js') }}"></script>
    <script src="{{ url_for('static', filename='js/new-entry-draft.js') }}"></script>
    <script src="{{ url_for('static', filename='js/entry-delete-confirm.js') }}"></script>
    <script>
        const existingTags = {{ all_tags | tojson }};
        const tagOptions = existingTags.map((tag) => ({value: tag, text: tag}));

        document.querySelectorAll(".tags-input").forEach((el) => {
            new TomSelect(el, {
                create: true,
                options: tagOptions,
            });
        });
    </script>
{% endblock %}
