{% extends '_base.html' %}

{% block style %}
    <style>
        .entries {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    </style>
{% endblock %}

{% block main %}
{#    <a style="border: 1px solid black; border-radius: 10px; padding: 5px">◀️ Вчера </a>#}
    <h1>Сегодня<br>{{ cur_date }}<br>{{ cur_date_weekday }}</h1>

    <details open>
        <summary>
            <h2 style="display: inline-block">Добавить новую запись</h2>
        </summary>
        <form method="POST" id="new-entry-form">
            {{ form.csrf_token }}

            {{ form.title }}

            {{ form.text }}


            <div style="display: flex; flex-direction: row-reverse; gap: 8px">
                <button type="submit">Сохранить</button>
                <button type="button" id="new-entry-clear">Очистить</button>
            </div>
        </form>
    </details>

    <h2>Записи за сегодня</h2>
    <div class="entries">
        {% for entry_form in entry_forms %}
            <form method="POST" action="/edit-entry/{{ entry_form.id.data }}">
                {{ entry_form.csrf_token }}

                {{ entry_form.title }}

                {{ entry_form.text }}


                <div style="display: flex; justify-content: space-between">
                    <small style="color: darkgray">{{ entry_form.datetime_msk.data }}</small>
                    <div>
                        <button type="submit" name="action" value="delete">Удалить</button>
                        <button type="submit">Сохранить</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/auto-resize-textarea.js') }}"></script>
    <script src="{{ url_for('static', filename='js/new-entry-draft.js') }}"></script>
    <script src="{{ url_for('static', filename='js/entry-delete-confirm.js') }}"></script>
{% endblock %}
